@charset "UTF-8";

@keyframes projectAppears {
    0% {
        opacity: 0;
        transform: translateY(4000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes titleTypeAnimationBR {
    0% {
        border-right: 5px solid #202020;
    }

    50% {
        border-right: 5px solid transparent;
    }

    100% {
        border-right: 5px solid #202020;
    }
}

.projectItemAnimate {
    animation: .6s projectAppears forwards;
}

.projectsContainer {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 130px;

    h1 {
        font-size: 56pt;
        color: #202020;
    }

    .titleTextProject {
        width: fit-content;
        padding-right: 30px;
        animation: 1s titleTypeAnimationBR infinite;
        display: flex;
    }

    .projectsList {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;

        .projectItem {
            border: solid 3px #202020;
            list-style-type: none;
            width: 400px;
            padding: 20px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 2px 2px 8px #cfcfcf;
            opacity: 0;

            h1 {
                border-bottom: solid 2px #cfcfcf;
                width: 100%;
                text-align: center;
                font-size: 21pt;
            }

            video {
                width: 100%;
                margin-top: 40px;
                border: solid #202020 4px;
                border-radius: 5px;
            }

            p {
                margin-top: 20px;
                text-align: justify;
            }

            button {
                margin-top: 30px;
                background-color: #f1c204;
                width: 100%;
                border-radius: 5px;
                padding: 14px;
                font-size: 16pt;
                font-weight: bold;
                cursor: pointer;
                transition: .4s;
                border: solid 3px #202020;
            }

            button:hover {
                transition: .4s;
                background-color: #F5A829;

            }
        }
    }

    @media screen and (max-width: 850px) {
        h1 {
            font-size: 28pt;
        }
    }

    @media screen and (max-width: 520px) {
        margin-left: 7%;
        margin-right: 7%;
    }
}
