@charset "UTF-8";

@keyframes projectAppears {
    0% {
        opacity: 0;
        transform: translateY(4000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.projectsContainer {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 130px;

    h1 {
        font-size: 56pt;
        color: #202020;
    }

    .projectsList {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;

        .projectItem {
            animation: .6s projectAppears forwards;
            border: solid 3px #202020;
            list-style-type: none;
            width: 500px;
            padding: 20px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 2px 2px 8px #cfcfcf;
            width: 500px;

            h1 {
                border-bottom: solid 2px #cfcfcf;
                width: 100%;
                text-align: center;
                font-size: 21pt;
            }

            video {
                width: 100%;
                margin-top: 40px;
            }

            p {
                margin-top: 20px;
            }

            button {
                margin-top: 30px;
                background-color: #f1c204;
                width: 100%;
                border-radius: 5px;
                padding: 14px;
                font-size: 16pt;
                font-weight: bold;
                cursor: pointer;
                transition: .4s;
                border: solid 3px #202020;
            }

            button:hover {
                transition: .4s;
                background-color: #F5A829;

            }
        }

        .projectItem:nth-child(2) {
            animation: .85s projectAppears forwards;
        }

        .projectItem:nth-child(3) {
            animation: 1.1s projectAppears forwards;
        }
    }

}
