@charset "UTF-8";

@keyframes appears {
    0% {
        transform: translateY(-2000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes imageRotationHover {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.introductionContainer {
    background-color: #F5F5F0;
    overflow-x: hidden;

    .nameIntroduction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 40px;
        min-height: 100vh;

        .nameContainer {
            width: 50%;

            h1 {
                color: #f1c204;
                font-size: 84pt;
                font-weight: bold;
                line-height: 90px;
                animation: 1s appears forwards;

                span {
                    margin-left: 205px;
                }
            }

            h3 {
                border-top: solid 2px #cfcfcf;
                margin-top: 30px;
                font-size: 22pt;
                padding-top: 10px;
                padding-bottom: 5px;
                animation: .8s appears forwards;
            }

            p {
                animation: .7s appears forwards;
            }

            .gridProjects {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .projectCounterDetails {
                    background-color: #202020;
                    margin-top: 20px;
                    border-radius: 5px;
                    height: 80px;
                    color: #fff;
                    display: flex;
                    margin-right: 20px;
                    width: 200px;
                    border: solid 3px #202020;

                    h4 {
                        width: 40%;
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 17pt;
                    }

                    span {
                        background-color: #f1c204;
                        color: #202020;
                        width: 80%;
                        padding: 15px;
                        font-weight: bold;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                }

                .projectCounterDetails:nth-child(1) {
                    animation: .6s appears forwards;
                }

                .projectCounterDetails:nth-child(2) {
                    animation: .55s appears forwards;
                }

                .projectCounterDetails:nth-child(3) {
                    animation: .5s appears forwards;
                }

                .projectCounterDetails:nth-child(4) {
                    animation: .4s appears forwards;
                }
            }
        }

        .erickImage {
            width: 400px;
            animation: 1s appears forwards;

            img {
                border: solid 4px #202020;
                border-radius: 5px;
                width: 400px;
                box-shadow: 3px 3px 12px #bfbfbf;
            }

            figcaption {
                text-align: center;
                margin-top: 20px;
                font-weight: bold;
                font-size: 20pt;
            }
        }

        .erickImage {
            img:hover {
                animation: 1.5s imageRotationHover infinite;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .introductionContainer {
        .nameIntroduction {
            margin-left: 7%;
            margin-right: 7%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .introductionContainer {
        .nameIntroduction {
            flex-direction: column-reverse;
            margin-top: 160px;

            .nameContainer {
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;
                width: 100%;

                h1 {
                    font-size: 68pt;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;

                    span {
                        margin-left: 0;
                    }
                }

                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .gridProjects {
                    align-items: center;
                    justify-content: center;

                    .projectCounterDetails {
                        height: 80px;
                    }
                }
            }

            .erickImage {
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 510px) {
    .introductionContainer {
        .nameIntroduction {
            .nameContainer {
                .gridProjects {
                    .projectCounterDetails {
                        width: 100%;

                        h4 {
                            width: 30%;
                        }
                    }
                }
            }

            .erickImage {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 300px;
                }

                figcaption {
                    font-size: 17pt;
                }
            }
        }
    }
}
