@charset "UTF-8";

@keyframes animateTitleTypedBR {
    0% {
        border-right: solid 5px #202020;
    }

    50% {
        border-right: solid 5px transparent;
    }

    100% {
        border-right: solid 5px #202020;
    }
}

@keyframes slideToRight {
    0% {
        transform: skewY(-10deg)translateX(0);
    }

    50% {
        transform: skewY(-10deg) translateX(calc(-100% + 100vw));
    }

    100% {
        transform: skewY(-10deg) translateX(0);
    }
}

.skillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;

    h1 {
        width: fit-content;
        padding-right: 20px;
        font-size: 56pt;
        animation: 1s animateTitleTypedBR infinite;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10px;
    }

    .overflowWrapper {
        width: 100%;
        overflow: hidden;
        padding-bottom: 210px;
        transform: translateY(-150px);

        ul {
            list-style: none;
            display: flex;
            border-radius: 5px;
            width: fit-content;
            transform: rotate(180%);
            animation: slideToRight 60s infinite;
            margin-bottom: 200px;
            border-top: solid 5px #202020;
            padding-top: 50px;
            padding-left: 100px;

            li {
                margin-right: 200px;
                background-color: #f1c204;
                border: solid #202020 5px;
                border-radius: 5px;
                padding: 60px;
                text-align: center;
                font-size: 18pt;
                font-weight: bold;
                position: relative;
                z-index: 2;

                p {
                    border-top: solid 2px #202020;
                    font-size: 14pt;
                }

                img {
                    width: 120px;
                }

                hr {
                    z-index: 1;
                    border: solid 2px #202020;
                    position: absolute;
                    top: 40px;
                    left: -103px;
                    width: 200px;
                    transform: rotate(90deg);
                }

                hr:last-child {
                    left: 143px;
                }
            }
        }
    }

    @media screen and (max-width: 850px) {
        h1 {
            font-size: 28pt;
        }
    }
}
