@charset "UTF-8";

@keyframes borderAnimation {
    0% {
        border-color: #202020;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-colo: #202020;
    }
}

@keyframes typingAnimation {
    from {
        width: 0;
    }
}

@keyframes aboutBoxShow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(-5deg);
    }
}

@keyframes symbolsFloating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes erickCartAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes erickCartLine {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    margin: 15%;
    margin-bottom: 0;
    margin-right: 15%;
    border-top: 3px solid #cfcfcf;
    margin-top: 10px;
    padding-top: 40px;

    h1 {
        font-size: 56pt;
        color: #202020;
        border-right: solid 5px #202020;
        width: fit-content;
        padding-right: 15px;
        animation: borderAnimation 1s infinite alternate;
    }

    .aboutBoxShowAnimate {
        animation: aboutBoxShow 1s forwards;
    }

    .aboutBox {
        background-color: #f1c204;
        padding: 10% 20%;
        border-radius: 5px;
        border: solid 4px #202020;
        font-size: 26pt;
        margin-top: 140px;
        transform: rotate(-5deg);
        opacity: 0;
        box-shadow: 4px 4px 12px #afafaf;

        p {
            text-align: justify;
        }

        figure.mathFigures {
            position: absolute;
            top: -65px;
            transform: rotate(-15deg);
            left: 0;

            img {
                width: 40px;
                position: relative;
            }

            img:nth-child(1) {
                left: -40px;
                top: 40px;
                animation: 2s symbolsFloating infinite reverse;
            }

            img:nth-child(2) {
                width: 80px;
                left: -20px;
                top: 35px;
                animation: 3s symbolsFloating infinite reverse;
            }

            img:nth-child(3) {
                animation: 4s symbolsFloating infinite reverse;
            }

            img:nth-child(4) {
                left: -170px;
                top: 80px;
                animation: 2s symbolsFloating infinite;
            }

            img:nth-child(5) {
                left: -150px;
                top: 66px;
                animation: 3s symbolsFloating infinite reverse;
            }

            img:nth-child(6) {
                left: -130px;
                top: 50px;
                animation: 4s symbolsFloating infinite reverse;
            }

            img:nth-child(7) {
                left: -320px;
                top: -30px;
                animation: 2s symbolsFloating infinite;
            }

            img:nth-child(8) {
                left: -290px;
                top: -40px;
                animation: 3s symbolsFloating infinite;
            }

            img:nth-child(9) {
                left: -260px;
                top: -50px;
                animation: 4s symbolsFloating infinite;
            }
        }

        figure.programmingFigures {
            position: absolute;
            bottom: -65px;
            right: 0;
            transform: rotate(-15deg);

            img {
                width: 40px;
                position: relative;
            }

            img:nth-child(1) {
                left: 240px;
                top: -100px;
                animation: 2s symbolsFloating infinite;
            }

            img:nth-child(2) {
                left: 260px;
                top: -100px;
                animation: 3s symbolsFloating infinite;
            }

            img:nth-child(3) {
                left: 280px;
                top: -100px;
                animation: 4s symbolsFloating infinite;
            }

            img:nth-child(4) {
                left: 130px;
                top: -30px;
                width: 50px;
                animation: 2s symbolsFloating infinite reverse;
            }

            img:nth-child(5) {
                left: 150px;
                top: -30px;
                width: 50px;
                animation: 3s symbolsFloating infinite reverse;
            }

            img:nth-child(6) {
                left: 170px;
                top: -30px;
                width: 50px;
                animation: 4s symbolsFloating infinite reverse;
            }

            img:nth-child(7) {
                left: 0px;
                top: 30px;
                animation: 2s symbolsFloating infinite reverse;
            }

            img:nth-child(8) {
                left: 30px;
                top: 30px;
                animation: 3s symbolsFloating infinite reverse;
            }

            img:nth-child(9) {
                left: 60px;
                top: 30px;
                animation: 4s symbolsFloating infinite reverse;
            }

        }
    }

    .rotatedBoxAlertText {
        margin-top: 140px;
        text-align: center;
        font-size: 26pt;
    }

    .erickCartContainerAnimation {
        animation: 10s erickCartLine forwards;
    }

    .erickCartContainer {
        overflow-x: hidden;
        margin-top: 120px;
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;

        .erickCart {
            overflow-x: hidden;
            width: 140px;
        }

        hr {
            border-bottom: #202020 solid 4px;
            border-radius: 20px;
            width: 100%;
        }
    }

    .hidden {
        opacity: 0;
    }
}


@media screen and (max-width: 850px) {
    .aboutContainer {
        h1 {
            font-size: 28pt;
        }

        .aboutBox {
            font-size: 20pt;

            figure.mathFigures {
                img {
                    width: 20px;
                }

                img:nth-child(1) {
                    top: 40px;
                }

                img:nth-child(2) {
                    top: 40px;
                    width: 30px;
                }

                img:nth-child(3) {
                    top: 40px;
                }

                img:nth-child(4) {
                    left: -110px;
                    top: 77px;
                }

                img:nth-child(5) {
                    left: -85px;
                }

                img:nth-child(6) {
                    left: -33px;
                }

                img:nth-child(7) {
                    top: 10px;
                    left: -170px;
                }

                img:nth-child(8) {
                    top: 10px;
                    left: -150px;
                }

                img:nth-child(9) {
                    top: 10px;
                    left: -120px;
                }
            }

            figure.programmingFigures {
                img {
                    width: 20px;
                }

                img:nth-child(4),
                img:nth-child(5),
                img:nth-child(6) {
                    width: 20px;
                }

                img:nth-child(1) {
                    left: 90px;
                    top: -77px;
                }

                img:nth-child(2) {
                    left: 110px;
                    top: -77px;
                }

                img:nth-child(3) {
                    left: 130px;
                    top: -77px;
                }

                img:nth-child(4) {
                    left: 30px;
                    top: -40px;
                }

                img:nth-child(5) {
                    left: 50px;
                    top: -40px;
                }

                img:nth-child(6) {
                    left: 70px;
                    top: -40px;
                }

                img:nth-child(7) {
                    top: 0px;
                    left: -30px;
                }

                img:nth-child(8) {
                    top: 0px;
                    left: -10px;
                }

                img:nth-child(9) {
                    top: 0px;
                    left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .aboutContainer {
        .aboutBox {
            font-size: 15pt;
        }
    }
}
