@charset "UTF-8";

@keyframes navbarMobileAppears {
    0% {
        transform: translateX(2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes navbarMobileDesappears {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(2000px);
    }
}

@keyframes logoItemNavbar {
    0% {
        transform: translateX(-2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes navbarItemsAppears {
    0% {
        transform: translateX(2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    z-index: 10;

    figure {
        color: #f1c204;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20pt;
        animation: .5s logoItemNavbar forwards;

        figcaption {
            margin-left: 10px;
            font-size: 20pt;
            line-height: 24px;
            transition: .4s;

            span.lastName {
                margin-left: 50px;
            }
        }

        figcaption:hover {
            span {
                border-bottom: solid 2px #f1c204;
                transition: .4s;
            }
        }
    }

    div {
        button {
            background-color: transparent;
            color: #fff;
            font-weight: bold;
            margin: 10px;
            font-size: 14pt;
            cursor: pointer;
        }


        button:nth-child(1) {
            animation: .3s navbarItemsAppears forwards;
        }

        button:nth-child(2) {
            animation: .4s navbarItemsAppears forwards;
        }

        button:nth-child(3) {
            animation: .5s navbarItemsAppears forwards;
        }

        button:nth-child(4) {
            animation: .6s navbarItemsAppears forwards;
        }

        button:nth-child(5) {
            animation: .7s navbarItemsAppears forwards;
        }


        button:hover {
            color: #f1c204;
            border-bottom: 2px solid #f1c204;
        }

        button:last-child {
            background-color: #f1c204;
            padding: 10px 15px;
            border-radius: 5px;
            color: #202020;
            transition: .4s;
            animation: .8s navbarItemsAppears forwards;

        }

        button:hover:last-child {
            background-color: #f1c204;
            border-bottom: 0;
            transform: scale(1.05);
            transition: .4s;
        }
    }

    .mobileIcon {
        color: #f1c204;
        font-size: 40px;
        display: none;
    }

    .mobileMenu {
        width: 100%;
        min-height: 100vh;
        position: fixed;
        background-color: #20202090;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;

        .closeMenu {
            width: 30%;
        }

        .mobileMenuControlsList:not(.mobileMenuControlsListDesappear) {
            animation: navbarMobileAppears 0.8s forwards;
        }

        .mobileMenuControlsList.mobileMenuControlsListDesappear {
            animation: navbarMobileDesappears 0.8s forwards;
        }

        .mobileMenuControlsList {
            width: 70%;
            background-color: #202020;
            border-left: solid 4px #f1c204;
            padding: 20px;
            animation: .8s navbarMobileAppears forwards;

            figure {
                border-bottom: 2px solid #404040;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;

                i {
                    margin-bottom: 20px;
                }
            }

            li {
                list-style-type: none;
                color: #fff;
                font-weight: bold;
                text-align: center;
                font-size: 18pt;
                margin: 10px 0;
                background-color: #404040;
                border-radius: 5px;
                padding: 10px;
                animation: .3s navbarItemsAppears forwards;
            }

            li:last-child {
                background-color: #f1c204;
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .navbarContainer {
        flex-direction: column;
        align-items: center;

        figure {
            margin-bottom: 10px;
        }

        div {
            border-top: solid 2px #404040;
        }
    }
}

@media screen and (max-width: 700px) {
    .navbarContainer {
        flex-direction: row;

        .mobileIcon {
            display: block;
            cursor: pointer;
        }

        .controlsButtonsContainer {
            display: none;
        }
    }
}
