@charset "UTF-8";

@keyframes TitleTypedAnimation {
    0% {
        border-color: #202020;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #202020;
    }
}

@keyframes ExpItem1And3Animate {
    from {
        transform: translateX(3000px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ExpItem2Animate {
    from {
        transform: translateX(-3000px);
        opacity: 0;
    }

    to {
        transform: translateX(-228px);
        opacity: 1;
    }
}

.experienceContainer {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    .expItem1Animate,
    .expItem3Animate
    .expItemMobileAnimate {
        animation: ExpItem1And3Animate .8s forwards;
    }

    .expItem2Animate {
        animation: ExpItem2Animate .8s forwards;
    }

    .titleTypedExperience {
        width: fit-content;
        padding-right: 20px;
        font-size: 56pt;
        margin-bottom: 30px;
        border-right: solid 5px #202020;
        animation: 1s TitleTypedAnimation infinite;
        text-align: left;
        display: flex;
        align-self: flex-start;
    }

    .timelineExp {
        border: solid 5px #202020;
        transform: rotate(90deg) translateX(400px);
        border-radius: 30px;
        margin-top: 100px;
        width: 750px;
    }

    .experienceList,
    .experienceListMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        transform: translateX(127px);

        .experienceItem {
            list-style: none;
            display: flex;
            align-items: center;

            .checkpoint {
                margin-right: 30px;
                font-size: 46pt;
                color: #f1c204;
                border: solid #202020 5px;
                border-radius: 300px;
                transition: .4s;
                cursor: pointer;
            }

            .checkpoint:hover {
                color: #F5A829;
                transition: .4s;
            }

            span {
                b {
                    color: #f1c204;
                    text-decoration: underline;
                    cursor: pointer;
                    transition: .4s;
                }

                b:hover {
                    color: #F5A829;
                    transition: .4s;
                }
            }
        }

        .experienceItem:nth-child(2) {
            margin-top: 200px;
            flex-direction: row-reverse;
            transform: translateX(-228px);

            span {
                margin-right: 12px;
            }
        }

        .experienceItem:nth-child(3) {
            margin-top: 250px;
            margin-right: 50px;
        }
    }

    .experienceListMobile {
        display: none;
    }

    @media screen and (max-width: 850px) {
        margin-left: 7%;

        .titleTypedExperience {
            font-size: 28pt;
        }

        .timelineExp {
            margin-top: 30px;
            transform: rotate(90deg) translateX(430px);
            display: none;
        }

        .experienceList {
            display: none;
        }

        .experienceListMobile {
            align-items: start;
            width: auto;
            align-self: flex-start;
            transform: translateX(0);
            display: flex;
            margin-bottom: 50px;
            overflow-x: hidden;

            .experienceItem:nth-child(2) {
                display: flex;
                flex-direction: row;
                transform: translateX(0);
                margin-top: 100px;
            }

            .experienceItem:nth-child(3) {
                margin-top: 100px;
            }

            .experienceItem {
                position: relative;

                .experienceTrackItem {
                    width: 180px;
                    position: absolute;
                    border: solid 3px #202020;
                    border-radius: 300px;
                    transform: rotate(90deg) translateX(160px);
                    left: -53px;
                    top: 20px;
                }

                .checkpoint {
                    z-index: 2;
                }
            }
        }
    }
}
