@charset "UTF-8";

@font-face {
    font-family: OpenSans;
    src: url('./assets/fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: OpenSans;
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('./assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url('./assets/fonts/OpenSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
}

*,
html {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'OpenSans', Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: #F5F5F0;
}
